.container {
  width: 900px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
}

.column-full {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

h1 {
  font-family: "Work Sans", sans-serif;
}

.add-entry-button {
  text-align: center;
  width: 150px;
  height: 40px;
}
